@use 'variables/intervals' as intervals;

.task-add-dialog {
    min-width: 10rem;
    max-width: 24rem;
    .task-add-dialog-content {
        margin-top: intervals.$padding-med;
        .task-info-input {
            width: 100%;
        }
    }
    
}